<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container"> 
    <br>
    <h1 class="display-3">Books</h1>
    <p class="lead">List of all Books</p>
    <hr>
  </div>
</div>
<div class="container">
  
    <% for(var each_book = 0; each_book < body.length; each_book++) { %>  
        <div class="row align-items-center">
      <div class="card" style="width: 100%;padding-top: 10px;margin-top:10px;">
        <i class="fas fa-book fa-3x" style=" margin-top: 10px; margin-left: 20px;"></i>
        <div class="card-body">
          <h5 class="card-title"><%= body[each_book]['title'] %></h5>
          <p class="card-text"><%= body[each_book]['isbn'] %></p>
          <p class="card-text"><%= body[each_book]['authors'] %></p>
          <p class="card-text"><%= body[each_book]['description'] %></p>
          
        </div>
      
    </div>
    
  </div>
    
  <% }%>
  <div class = "row">
    <br> 
  </div>
</div> 
    <%- include('partials/footer') %> 
  
