<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container"> <br>
    <h1 class="display-3">Book Added</h1>
    <p class="lead"> Congratulations upon adding your own book.</p>
    <hr>
    <p> You can see all books listed <a href = "/books">here</a> </p>
  </div>
</div>
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div class="card" style="width: 18rem;padding-top: 10px;margin-top:10px;">
        <i class="fas fa-user fa-3x" style=" margin-top: 10px; margin-left: 20px;"></i>
        <div class="card-body">
          <h5 class="card-title"><%= body[0] %></h5>
          <p class="card-text"><%= body[1] %></p>
          <p class="card-text"><%= body[2] %></p>
          <p class="card-text"><%= body[3] %></p>
        </div>
      </div>
    </div>  
    
  </div>
  <div class = "row">
    <br> 
  </div>
</div> 
    <%- include('partials/footer') %> 
  
